@import '../utils/variables.scss';

body{
    margin: 0px;
}

#root {
    text-align: center;
    margin: auto;
   //width: 1728px;
    //height: 1117px; 
    width: 100vw;
    min-height: 100vh;
    font-size: 14px;
    font-family: Poppins;
}




@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf");
}