@import '../utils/variables.scss';

body {
    margin: 0px;
}

#root {
    text-align: center;
    margin: auto;
    width: 123.429rem;
    height: 79.786rem;
    width: 100vw;
    min-height: 100vh;
    font-size: 14px;
    font-family: Poppins;
}




@font-face {
    font-family: "Poppins";
    src: url("/src/public/fonts/Poppins-Regular.ttf");
}