@import '../utils/variables.scss';

#conversor {
    background-color: $lilac;
    border-radius: 21px;
    width: 717px;
    margin-left: 36%;
    box-shadow: #00000033 0px 0px 8px 3px;

    &>h1 {
        color: $white;
        font-size: 24px;
        font-family: P600;
    }

    &>#petition {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;

        &>img {
            height: 24px;
            width: 24px;
        }

        &>select,
        input {
            background-color: $lilac;
            color: $white;
            width: 218px;
            border: none;
            border-bottom: $white 2px solid;
        }

        &>span {
            color: $white;
        }
    }

    #answer {
        &>img {
            height: 24px;
            width: 24px;
        }

        &>h2 {
            font-family: P700;
            font-size: 24px;
            color: $white;
        }

        &>p {
            color: $white;
            font-family: P700;
            font-size: 16px;
        }
    }

}

@media screen and (max-width: 460px) {
   #conversor{
    width: 349px;
    margin: auto;
   }
}

@font-face {
    font-family: "P600";
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "P700";
    src: url("fonts/Poppins-Bold.ttf");
}