@import '../utils/variables.scss';

#conversor {
    background-color: $lilac;
    border-radius: 21px;
    width: 717px;
    height: 193px;
    margin-left: 36%;
    box-shadow: #00000033 0px 0px 8px 3px;

    &>h1 {
        color: #FFFFFF;
        font-size: 24px;
        padding: 24px 38px 21px;
        margin: 0;
        font-family: P600;
        text-align: left;
    }

    &>#petition {
        display: grid;
        grid-template-columns: 1fr 1fr;


        &>#first {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            padding-left: 38px;
            height: 32px;

            &>img {
                height: 24px;
                width: 24px;
            }

            &>select {
                background-color: $lilac;
                color: $white;
                width: 218px;
                border: none;
                border-bottom: $white 2px solid;
            }
        }

        &>#second {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 11px;
            height: 32px;

            &>input {
                background-color: $lilac;
                color: $white;
                width: 218px;
                border: none;
                border-bottom: $white 2px solid;
                text-align: right;
            }

            &>p {
                color: $white;
            }
        }

    }

    #answer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 24px 80px 24px 38px;
        align-items: center;

        &>img {
            height: 24px;
            width: 24px;
        }

        &>span {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 9px;
            height: 38px;
            width: max-content;
            justify-self: self-end;

            &>h2 {
                font-family: P700;
                font-size: 24px;
                color: $white;
            }

            &>p {
                color: $white;
                font-family: P700;
                font-size: 16px;
            }
        }
    }

}

@media screen and (max-width: 460px) {
    #conversor {
        width: 349px;
        margin: auto;
    }
}

@font-face {
    font-family: "P600";
    src: url("fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "P700";
    src: url("fonts/Poppins-Bold.ttf");
}