@import '../utils/variables.scss';


header {
    box-shadow: #00000040 0px 2px 4px 0px;
    height: 48px;
    width: 100vw;
    margin-bottom: 51px;

    &>section {
        display: flex;
        align-items: center;
        margin-left: 30%;


        &>img {
            width: 32px;
            height: 32px;
        }

        &>h2 {
            font-family: P900;
            color: $lilac;
            width: 156px;
            height: 31px;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 1200px) {
    header >section {
            margin-left: 5%;
        }
    
}


@media screen and (max-width: 900px) {
    header {
        margin-bottom: 23px;

        &>section {
            margin-left: 2.5%;
        }
    }
}



@font-face {
    font-family: "P900";
    src: url("fonts/Poppins-Black.ttf");
}