@import '../utils/variables.scss';


header {
    box-shadow: #00000040 0px 2px 4px 0px;
    height: 48px;
    width: 100%;

    &>section {
        display: flex;
        align-items: center;
        margin-left: 529px;

        &>img {
            width: 32px;
            height: 32px;
        }

        &>h2 {
            font-family: P900;
            color: $lilac;
            width: 156px;
            height: 31px;
            font-size: 20px;
            line-height: 30px;
        }
    }
}


@media screen and (max-width: 390px) {
   
}

@font-face {
    font-family: "P900";
    src: url("/src/public/fonts/Poppins-Black.ttf");
}